{% extends "base.html" %}
{% load static %}

{% block title %}Edit {{ parcel }} - Tree Manager{% endblock %}

{% block content %}
<div class="relative w-full" style="height: calc(100vh - 8rem);">
  <div id="parcels-map-container" class="w-full h-full rounded-lg"
       data-polygon='{{ polygon_json }}'
       data-edit-mode="true"></div>

  <input type="hidden" id="parcels-lat" name="latitude" />
  <input type="hidden" id="parcels-lon" name="longitude" />

  <div id="parcels-area-display" class="absolute bottom-20 left-1/2 -translate-x-1/2 z-[1000] badge badge-lg badge-info hidden"></div>

  <div class="absolute bottom-4 left-1/2 -translate-x-1/2 z-[1000] flex gap-2">
    <form hx-post="{% url 'parcels:update' parcel.pk %}" hx-target="#parcels-update-result" hx-include="#parcels-lat, #parcels-lon" class="flex gap-2 items-center">
      {% csrf_token %}
      <input type="hidden" id="parcels-polygon" name="polygon" />
      <input type="hidden" id="parcels-area" name="area_m2" />
      <input type="text" name="name" id="parcels-name-input" value="{{ parcel.name }}" placeholder="Parcel name (optional)" class="input input-bordered input-sm w-48 {% if not has_polygon %}hidden{% endif %}" />
      <button type="submit" id="parcels-save-btn" class="btn btn-success {% if not has_polygon %}hidden{% endif %}">Save Changes</button>
    </form>
    <button type="button" id="parcels-clear-btn" class="btn btn-warning {% if not has_polygon %}hidden{% endif %}">Clear &amp; Redraw</button>
  </div>

  <div id="parcels-update-result" class="absolute bottom-28 left-1/2 -translate-x-1/2 z-[1000] w-full max-w-md px-4"></div>
</div>

<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
